
<form id="current-address-form" action="/api/index" method="GET">
	<label for="address">Please Enter Your Location</label>
	<input type="text" name="address" autofocus/> 
	<input type="submit">
</form>

